
:root {
    --cor-primaria:#000000;
    --cor-secundaria:#f6f6f6;
    --cor-terciaria: #22d4fd;
    --cor-quaternaria: #2f4f4f;
    --cor-alternativa: #152424;
}

*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    font-family: 'inter', sans-serif;
}

.topo{
    max-width: 893px;
    margin: 0 auto;
    padding-top: 16px;

}
.topo-menu{
    padding: 8px 14px;
    text-decoration: none;
    color: var(--cor-terciaria);
    font-weight: 600;
    font-size: 16px;
    border-radius: 8px;
}
 .topo a:hover{
    background-color: var(--cor-quaternaria);
}
img{
    width: 290px;
}

.titulo-destaque{
    color: var(--cor-terciaria);
}

.container-principal{
    max-width: 894px;
    margin: 0 auto;
    padding: 80px 30px 5px 30px;
    display: flex;
    margin-bottom: 60px;
}
.section-conteudo{
    position: relative;
    margin: 0 auto;
    padding: 12px;
    max-width: 893px;
    display: flex;
    gap: 80px;
    box-sizing: border-box;
    align-items: center;
}
.content{
    width: 60%;
    display: flex;
    padding: 0px 26px 0px 0px;
    flex-direction: column;
}
.container-foto{
    position: absolute;
    top: 60px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content li{
   font-size: 12px;
   margin-left: 60px;
}
.content li p{
   font-size: 12px;
}
h3{
    margin: 10px;
    font-size: 14px;
}
h4{
    margin: 10px;
    font-size: 12px;
}
h1{
    font-size: 28px;
    margin: 0;
}
.section-conteudo p{      
    font-size: 18px;
    margin: 15px 0;
    padding: 5px 0;
}
 
.div-links{
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    align-items: center;
    justify-content: space-between;
}

.sub-titulo{
    font-size: 14px;
    font-weight: 500;
    font-family: "krona One", sans-serif;
}
.div-links a{
    display: flex;
    align-items:center ;
    justify-content: center;
    gap: 6px;
    width: 100px;
    font-size: 14px;
    font-weight: 800;
    padding: 10px 54px;
    border: 2px solid var(--cor-terciaria);
    border-radius: 12px;
    color: var(--cor-secundaria);
    text-decoration: none;
}
.div-links a:hover{
    background-color: var(--cor-quaternaria);
}

.img-icone{
    width: 20px;
}
.rodape{
    width: 100w;
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
    text-align: center;
    font-size: 12px;
    font-weight: 500;
}
.rodape p{
    margin: 0;
    padding: 6px;
}

@media (max-width: 600px) {

    .container-principal{
        margin: 0 auto;
        padding: 40px 0px 10px 0px;
        width: 100vw;
        display: flex;
        justify-content: space-between;
        margin-bottom: 60px;
        margin-top: 200px;
    }
    .section-conteudo{
        width: 100vw;
        flex-direction: column;
        text-align: center;
    }
    header{
        background-color: var(--cor-alternativa);
    }
    .topo{
        text-align: center;
        padding-top: 16px;
        padding-bottom: 16px;
        
    }
    .topo-menu{
        font-size: 18px;
    }
    img{
        width: 210px;
    }
    .container-foto{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    h1{
        font-size: 24px;
    }
    .section-conteudo p{ 
        width: 100%;     
        font-size: 16px;
        margin: 15px 0;
        padding: 5px 1px;
    }
    .content{
        width: 100%;
        padding: 12px;
    }
}

