
:root {
    --cor-primaria:#000000;
    --cor-secundaria:#f6f6f6;
    --cor-terciaria: #22d4fd;
    --cor-quaternaria: #2f4f4f;
    --cor-alternativa: #152424;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    flex-direction: column;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    font-family: 'inter', sans-serif;
    box-sizing: border-box;
}
header{
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 0 auto;
    position: fixed;
    z-index: 10;
    background-color: #000000;


}

.topo{
    display: flex;
    width: 100%;
    max-width: 960px;
    padding-top: 16px;
    padding-left: 48px;
    margin: 0 auto;
    gap: 10px;
   

}
.topo-menu{
    padding: 8px 14px;
    text-decoration: none;
    color: var(--cor-terciaria);
    font-weight: 600;
    font-size: 16px;
    border-radius: 8px;
}
 .topo a:hover{
    background-color: var(--cor-quaternaria);
}
img{
    width: 290px;
}

.titulo-destaque{
    color: var(--cor-terciaria);
}
.titulo-sobre{
    color: var(--cor-quaternaria);
}

.container-principal{
    max-width: 981px;
    margin: auto;
    padding: 50px 30px 5px 30px;
    display: flex;
    margin-bottom: 60px;
}
.section-conteudo{
    position: relative;
    margin: 0 auto;
    padding: 40px;
    max-width: 960px;
    display: flex;
    box-sizing: border-box;
    align-items: center;
}
.content{
    width: 57%;
    display: flex;
    padding: 70px 26px 0px 21px;
    flex-direction: column;
    text-align: left;
}
.container-foto{
    position: absolute;
    top: 110px;
    right: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content li{
   width: 100%; 
   font-size: 12px;
   margin-left: 60px;
}
.content li p{
   width: 100%; 
   font-size: 12px;
}
h3{
    margin: 10px;
    font-size: 18px;
}
h3, h4{
    padding: 4px 0;
}
h4{
    margin: 10px;
    font-size: 16px;
}
h1{
    font-size: 24px;
    margin: 0;
}
.section-conteudo p{      
    font-size: 16px;
    margin: 15px 0;
    padding: 5px 0;
}
 
.div-links{
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    align-items: center;
    justify-content: space-between;
}

.sub-titulo{
    font-size: 14px;
    font-weight: 500;
    font-family: "krona One", sans-serif;
}
.div-links a{
    display: flex;
    align-items:center ;
    justify-content: center;
    gap: 6px;
    width: 100px;
    font-size: 18px;
    font-weight: 800;
    padding: 10px 54px;
    border: 2px solid var(--cor-terciaria);
    border-radius: 12px;
    color: var(--cor-secundaria);
    text-decoration: none;
}
.div-links a:hover{
    background-color: var(--cor-quaternaria);
}

.img-icone{
    width: 20px;
}
.rodape{
    width: 100vw;
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
    text-align: center;
    font-size: 12px;
    font-weight: 500;
}
.rodape p{
    margin: 0;
    padding: 6px;
}

@media (max-width: 640px) {

    .container-principal{
        margin: 0 auto;
        padding: 15px 5px 15px 5px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 60px;
        
    }
    .section-conteudo{
        margin: 0 auto;
        width: 100%;
        flex-direction: column-reverse;
        text-align: center;
        padding: 5px;
    }
    .topo{
        background-color: var(--cor-alternativa);
        width: 100%;
        justify-content: center;
        padding: 8px 2px;
        display: flex;
        max-width: 960px;
        margin: 0 auto;
        gap: 60px;
    }
    .topo-menu{
        font-size: 21px;
    }
    
    img{
        width: 252px;
    }
    .container-foto{
        position: static;
        width: 100%;
        display: flex;
        justify-content: center;
        padding-top: 90px;
    }
    h1{
        font-size: 28px;
        margin-top: 0;
        padding: 0px 0px 20px 12px;
    }
    p{ 
        width: 100%;     
        font-size: 16px;
        margin: 15px 0;
        padding-right: 20px;
    }
    .content{
        width: 100%;
        display: flex;
        padding: 10px 0px 0px 0px;
        flex-direction: column;
        margin: auto;
    }
    ul{
        width: 100%;
        margin: 0 auto;
        text-align: left;
        font-size: 20px;
        
    }
    .content li{
        width: 80%; 
        font-size: 16px;
        margin-left: 60px;
        padding: 3px 0;
     }
     .content li p{
        width: 95%; 
        font-size: 16px;
     }
}

@media (max-width: 1040px){
    .section-conteudo{
        max-width: 780px;
        gap: 40px;
    }
    .topo{
        max-width: 780px;
        margin: 0 auto;
        padding-top: 16px;
    
    }
}

@media (max-width: 848px){
    .section-conteudo{
        max-width: 600px;
        gap: 40px;
    }
    .topo{
        max-width: 600px;
        margin: 0 auto;
        padding-top: 16px;
    
    }
     
   
}



